.section-container {
  width: 100%;
  height: 100vh;
  padding-top: 64px;
  /* border: 2px solid blue; */
  background-color: var(--color-dark-blue);
}

.section-top {
  height: 15%;
  /* border: 2px solid green; */
  background-color: gray;
  display: flex;
  text-align: center;
  font-size: 25px;
}

.icon_container {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.img-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
}

:nth-child(1).img-icon,
:nth-child(3).img-icon,
:nth-child(4).img-icon {
  background-color: white;
}

.section-content {
  display: flex;
  background-color: rgb(226, 226, 226);
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 75%;
  /* border: 2px solid salmon; */
}

.section-card {
  border: 3px solid #1c457a;
  border-radius: 20px;
  z-index: 1;
}

.card_img {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-card :hover {
  color: #fff;
  filter: drop-shadow(0px 0px 5px rgb(255, 255, 255)) drop-shadow(0px 0px 10px #1c457a);
}

.section-footer {
  height: 10%;
  /* border: 2px solid salmon; */
}

@media only screen and (max-width: 800px) {
  .section-container {
    height: auto;
  }
}
@media only screen and (max-width: 700px) {
  .section-top,
  .section-footer {
    width: auto;
    height: auto;
  }
  .section-top {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 15px;
  }
  .section-content {
    overflow: scroll;
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 500px) {
  .section-card :hover {
    filter: none;
  }
}
